<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="app.js"></script>

<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/">Books</a></li>

<!--      <mat-form-field appearance="fill" style="color: white">-->
<!--        <mat-label style="color: white">Book Options</mat-label>-->
<!--        <mat-select style="color: white">-->

<!--          <mat-option value="option1">Add</mat-option>-->
<!--          <mat-option value="option2" >Update</mat-option>-->
<!--          <mat-option value="option3">Delete</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->

<!--      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>-->

      <li><a routerLink="/addNewBook">Add Book</a></li>
      <li><a routerLink="/addNewCategory">Add Category</a></li>

    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

